/* https://svelteflow.dev/learn/guides/theming#working-with-built-in-classes */

.svelte-flow {
	/* Fixes Adaptive Tab Bar Colour extension */
	background-color: var(--xy-background-color-default) !important;
}

.svelte-flow__controls-button {
	width: 3em;
	height: 3em;
}

.svelte-flow__node {
	color: var(--font-colour);
}

.svelte-flow__edge-label {
	color: var(--font-colour);
}