.svelte-flow__background-pattern.dots {
	fill: transparent !important;
}

.svelte-flow__panel:not(.key, .qr) {
	display: none !important;
}

.drop-target {
	display: none;
}

.svelte-flow__node .label>* {
	display: none;
}

.svelte-flow__handle,
.group {
	print-color-adjust: exact
}