@media screen {

	[print-preview="false"] .key,
	[print-preview="false"] .qr {
		display: none !important;
	}

	[print-preview="true"] {
		& {

			html,
			body {
				width: 100%;
				height: unset;
			}

			body {
				display: flex;
				justify-content: center;
				/* Fixes Adaptive Tab Bar Colour extension */
				background-color: var(--background-colour) !important;
			}

			main {
				margin: 10mm auto;
				width: 210mm;
				height: 297mm;
				box-shadow: 0 0.5em 2.5em 0em grey;
			}

			.svelte-flow__background-pattern.dots {
				fill: transparent !important;
			}

			.svelte-flow__panel:not(.key, .qr) {
				display: none !important;
			}

			.drop-target {
				display: none;
			}

			.svelte-flow__node .label>* {
				display: none;
			}

			.svelte-flow__handle,
			.group {
				print-color-adjust: exact
			}
		}
	}
}