.svelte-flow__edge,
.svelte-flow__handle {
	transition: opacity 0.25s ease-in-out;
}

.svelte-flow__edge-path {
	stroke-width: 1.5;
	transition: stroke-width 0.25s ease-in-out;
}

svg:has(.highlight .svelte-flow__edge-path),
svg:has(.selected .svelte-flow__edge-path) {
	z-index: 1;
}

.highlight .svelte-flow__edge-path {
	stroke-width: 2.5;
}

.selected .svelte-flow__edge-path {
	transition: none;
	stroke-width: 2;
}

.fade-out {
	opacity: 0.5;
}